anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio @ file:///croot/anyio_1706220167567/work
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/perseverance-python-buildout/croot/argon2-cffi-bindings_1698877183685/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
attrs @ file:///work/perseverance-python-buildout/croot/attrs_1698845858439/work
Babel @ file:///work/perseverance-python-buildout/croot/babel_1698863996602/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker @ file:///work/perseverance-python-buildout/croot/blinker_1698846408677/work
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1717618050233/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
comm @ file:///croot/comm_1709322850197/work
conda @ file:///croot/conda_1715635703388/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
cryptography @ file:///croot/cryptography_1714660666131/work
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distro @ file:///croot/distro_1714488253808/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi @ file:///work/perseverance-python-buildout/croot/fastapi_1707343766100/work
fastjsonschema @ file:///work/perseverance-python-buildout/croot/python-fastjsonschema_1698846742882/work
Flask @ file:///croot/flask_1716545870149/work
frozendict @ file:///croot/frozendict_1713194832637/work
idna @ file:///croot/idna_1714398848350/work
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython @ file:///croot/ipython_1718287989724/work
ipywidgets @ file:///croot/ipywidgets_1709574692113/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
jedi @ file:///work/perseverance-python-buildout/croot/jedi_1698864582475/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema @ file:///work/perseverance-python-buildout/croot/jsonschema_1701731705290/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter @ file:///croot/jupyter_1709837193779/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///work/perseverance-python-buildout/croot/jupyter_events_1701732053818/work
jupyter-lsp @ file:///work/perseverance-python-buildout/croot/jupyter-lsp-meta_1707343107456/work
jupyter_client @ file:///work/perseverance-python-buildout/croot/jupyter_client_1701731788627/work
jupyter_core @ file:///work/perseverance-python-buildout/croot/jupyter_core_1701731747496/work
jupyter_server @ file:///work/perseverance-python-buildout/croot/jupyter_server_1707343069838/work
jupyter_server_terminals @ file:///work/perseverance-python-buildout/croot/jupyter_server_terminals_1701732095362/work
jupyterlab @ file:///work/perseverance-python-buildout/croot/jupyterlab_1709060583522/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1709322880313/work
jupyterlab_server @ file:///work/perseverance-python-buildout/croot/jupyterlab_server_1707343148056/work
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
menuinst @ file:///croot/menuinst_1718132535249/work
mistune @ file:///work/perseverance-python-buildout/croot/mistune_1698895588147/work
nbclient @ file:///work/perseverance-python-buildout/croot/nbclient_1701731912506/work
nbconvert @ file:///work/perseverance-python-buildout/croot/nbconvert_1701732177957/work
nbformat @ file:///work/perseverance-python-buildout/croot/nbformat_1701731830074/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
notebook @ file:///io/croot/notebook_1709244541687/work
notebook_shim @ file:///work/perseverance-python-buildout/croot/notebook-shim_1707343174853/work
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1710807400464/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pluggy @ file:///work/perseverance-python-buildout/croot/pluggy_1698805497733/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
prometheus-client @ file:///work/perseverance-python-buildout/croot/prometheus_client_1698865353814/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1709577974639/work
pydantic_core @ file:///croot/pydantic-core_1709573961665/work
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///work/perseverance-python-buildout/croot/python-json-logger_1698873656334/work
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole @ file:///croot/qtconsole_1709231153903/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
requests @ file:///croot/requests_1716902831423/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rpds-py @ file:///work/perseverance-python-buildout/croot/rpds-py_1698982686240/work
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
Send2Trash @ file:///work/perseverance-python-buildout/croot/send2trash_1701732325573/work
setuptools==69.5.1
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette @ file:///work/perseverance-python-buildout/croot/starlette-recipe_1707343489817/work
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
tinycss2 @ file:///work/perseverance-python-buildout/croot/tinycss2_1698875051986/work
tornado @ file:///work/perseverance-python-buildout/croot/tornado_1698866362018/work
tqdm @ file:///croot/tqdm_1716395931952/work
traitlets @ file:///croot/traitlets_1718227057033/work
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
urllib3 @ file:///croot/urllib3_1715635851070/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug @ file:///croot/werkzeug_1716533313107/work
wheel==0.43.0
widgetsnbextension @ file:///croot/widgetsnbextension_1709322880396/work
zstandard @ file:///croot/zstandard_1714677652653/work
